body {
	padding: 70px 25px 10px 25px;
}

h5 {
	padding-bottom: 8px;
}

.title { 
	text-align: left;
	text-transform: uppercase;
	color: #3498db;
	letter-spacing: 2px;
}

.section-content {
	padding-bottom: 20px;
}

em {
	color: #3498db;
}
