body {
	padding-top: 70px;
}

.jumbotron {
	color: #2c3e50;
	background: #ecf0f1;
}

.company {
	color: #2c3e50;
}

.date {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#container-padding {
	padding-left: 10%;
	padding-right: 10%;
}

.photo {
	display: table;
}

.photo a {
	display: table-cell;
	vertical-align: middle;
}

.photo img {
    display: block;
    height: auto;
    width: 100%;
}
